.App{
  background-color: cadetblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(166,17,198);
background: linear-gradient(135deg, rgba(166,17,198,1) 50%, rgba(89,241,251,1) 50%);
}